/* General formatting */
body {
    padding: 0 50px;
    font: 18px/1.5 -apple-system, BlinkMacSystemFont, "avenir next",avenir, "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans",roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu, "franklin gothic medium", "century gothic", "Liberation Sans",
    sans-serif;
}

h1, h2, h3 {
    line-height: 1.2
}

/* Your text should be in a nice narrow column */
.content-column {
    max-width: 700px;
    margin: 40px auto;
}

/* But your visualization should be full-width and full-height */
.vis-holder {
    width: 100%;
    height: 100%;
    max-width: 1350px;
    margin: 50px auto;
}

.area {
    clip-path: url(#clip);
}


.scatterplot-holder {
    display: flex;
    flex: 0 0 50%; /* First Flex, set to 50% for side by side */
}
.scatterplot{
    display: flex;
}

.histogram-holder{
    display: flex;
}

.histogram-chart{
    margin-bottom: -45%;
}

.table-holder {
    cursor: crosshair;
    overflow-y: auto;
    height: 600px;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

.table-holder thead th {
    position: sticky;
    top: 0;
}

/* Style for selected marks (table rows) */
tr.selected {
    background-color: pink;
}

/* Pretty table layout */
table {
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
    overflow-x: scroll;
}

th {
    background: #eee;
    overflow-x: auto;
}

th, td {
    /* vertical | horizontal */
    padding: 2px 4px;
}

/* Don't also do text drag selection */
table.text-unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

/* Recreate the D3 brush style... */
tr.mouseover {
    background-color: #d6d6d6;
}

/* ...but add a darker selected and brushed color. */
tr.mouseover.selected{
    background-color: #e08fa3;
}

.legend{
    border:1px solid #000000;
}

circle.selected {
    stroke-width: 1.1;
    fill: lightgrey;
    opacity: 2;
    
}

circle.nonselected{
    stroke-width: 1.1;
    opacity: 0.2;
}
circle.normal{
    stroke-width: 1.1;
    opacity: 1;
}

/* Fork on GitHub ribbon via https://codepo8.github.io/css-fork-on-github-ribbon/# */
#forkongithub a{
    background:#00F;
    color:#fff;
    text-decoration:none;
    font-family:arial,sans-serif;
    text-align:center;
    font-weight:bold;
    padding:5px 40px;
    font-size:1rem;
    line-height:1.4rem;
    position:relative;
    transition:0.5s;
}
#forkongithub a:hover{
    background:#118;
    color:#fff;
}
#forkongithub a::before,#forkongithub a::after{
    content:"";
    width:100%;
    display:block;
    position:absolute;
    top:1px;
    left:0;
    height:1px;
    background:#fff;
}
#forkongithub a::after{
    bottom:1px;
    top:auto;
}
@media screen and (min-width:1000px){
    #forkongithub{
        position:absolute;
        display:block;
        top:0;
        right:0;
        width:200px;
        overflow:hidden;
        height:200px;
        z-index:9999;
    }
    #forkongithub a{
        width:200px;
        position:absolute;
        top:60px;
        right:-60px;
        transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
        -moz-transform:rotate(45deg);
        -o-transform:rotate(45deg);
        box-shadow:4px 4px 10px rgba(0,0,0,0.8);
    }
}


.dropdown {
    position: relative;
}

.dropdown-button {
    cursor: pointer;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    max-height: 200px;
    overflow: auto;
}

.dropdown-menu > li {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}

.dropdown-menu > li:hover {
    background: rgba(0, 0, 0, 0.05);
}

.dropdown-menu > li.active {
    color: #77c9e8;
    font-weight: bold;
}

.flex-group {
    flex-direction: column;
    justify-content: center;
}

.flex-item-left {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.flex-item-right {
    width: 100%;
    box-sizing: border-box;
}

.flex-item-right-bottom {
    width: 100%;
    box-sizing: border-box;
    margin: 50px;
    justify-content: center;
    transform: scale(1.2);
}

@media (min-width: 850px) {
    .flex-group {
        flex-direction: row;
    }

    .flex-item-left {
        flex: 1 auto;
        flex: none;
        width: 60%;
        box-sizing: border-box;
    }

    .flex-item-right {
        width: 55%;
        box-sizing: border-box;
    }

    .flex-item-right-bottom {
        width: 55%;
        box-sizing: border-box;
        margin: 0;
        margin-left: 60px;
        margin-top: 10px;
        transform: scale(1.1);
    }
}
